* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(background-beautiful-blossom-calm-waters-268533.jpg);
    padding: 25px;
    background-size: 100%;
}

.input {
    text-align: center;
    margin-top: 100px;
}

input[type="text"] {
    height: 50px;
    width: 300px;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
}

.display {
    text-align: center;
    /* border-style: groove; */
    margin: 70px 400px 0px 400px;
    color: rgb(120, 185, 241);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}